$myColor: red;

$myBackgroundColor: Blue;

$myAlterBackgroundColor : Yellow;
$myAlterColor : red;
$myNameColor: black;
$myNameBackgroundColor: bisque;
.scssStyle h1{

    color: $myColor;
    background-color: $myBackgroundColor;
}

.scssBackgroundYellow{
    background-color: $myAlterBackgroundColor;
    color: $myAlterColor;
}

.scssNameStyle{
    color: $myNameColor;
    background-color: $myNameBackgroundColor;
}