.buttonStyle button {
  width: 80px;
  height: 30px;
  margin: -1px;
}

.blue {
  color: blue;
  background-color: skyblue;
}

.red {
  color: red;
  background-color: pink;
}


.green {
  color: green;
  background-color: palegreen;
}

.yellow {
  color: yellow;
  background-color: yellowgreen;
}